<form>
    <label for="idesc">Description:</label>
    <textarea id="idesc" name="idesc" placeholder="e.g. 'melee weapon'"></textarea>
</form>

<style>
    textarea {
        resize: none;
        overflow: scroll;
        height: 200px;
    }
    label {
        vertical-align: top;
    }
</style>
