<form style="width: 40%; height: 10%">
    <label for="iname">Action Name:</label>
    <input type="text" id="iname" name="iname" placeholder="e.g. 'Slash'">
    @*<input type="submit" value="Submit">*@
</form>
