
<div style="display: flex; flex-direction: row;">
    <div class="itemName">
        @item.i_name
    </div>
    <textarea readonly class="itemDesc">
        @item.i_desc
    </textarea>
    <div class="itemWeight">
        @item.i_weight
    </div>
    <div class="itemValue">
        @item.i_value
    </div>
</div>





@code {
        [Parameter]
    public InventoryComponent.ItemSlotViewModel item { get; set; }
}