<label for="toggle">Stackable:</label>
<div class="toggle-switch">
    <input type="checkbox" id="toggle" name="toggle" class="toggle-input">
    <label for="toggle" class="toggle-label"></label>
    <div class="toggle-indicator"></div>
</div>
