/* Style the number input */
input[type=number] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 60px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    margin: 0 10px;
}

    /* Style the number input arrows */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number]::-moz-appearance {
        appearance: textfield;
        margin: 0;
    }
