@page "/armor";

<h3>Create a new item</h3>
<div style="display: flex; justify-content: space-between; max-width: 70%">
    <owlbear_ui.Components.NameFormComponent></owlbear_ui.Components.NameFormComponent>
    <owlbear_ui.Components.DescFormComponent></owlbear_ui.Components.DescFormComponent>
    <owlbear_ui.Components.WeightFormComponent></owlbear_ui.Components.WeightFormComponent>
    <owlbear_ui.Components.ValueFormComponent></owlbear_ui.Components.ValueFormComponent>
</div>
<div style="display: flex; justify-content: space-between; max-width: 70%">
    <owlbear_ui.Components.ACOverrideComponent></owlbear_ui.Components.ACOverrideComponent>
</div>
<div style="display: flex; justify-content: space-between; max-width: 70%">
    <owlbear_ui.Components.ACBonusComponent></owlbear_ui.Components.ACBonusComponent>
</div>