@page "/magic_item";

<h3>Create a new magic item</h3>
<div style="display: flex; justify-content: space-between; max-width: 70%">
    <div class="stack">
        <div class="item">
            <owlbear_ui.Components.NameFormComponent></owlbear_ui.Components.NameFormComponent>
        </div>
        <div class="item">
            <owlbear_ui.Components.DescFormComponent></owlbear_ui.Components.DescFormComponent>
        </div>
    </div>
    <owlbear_ui.Components.WeightFormComponent></owlbear_ui.Components.WeightFormComponent>
    <owlbear_ui.Components.ValueFormComponent></owlbear_ui.Components.ValueFormComponent>
</div>
<div class="buffer"></div>
<div style="display: flex; justify-content: space-between; max-width: 70%">
   <owlbear_ui.Components.AttuneRequirementComponent></owlbear_ui.Components.AttuneRequirementComponent>
</div>
<div class="buffer"></div>
<div style="display: flex; justify-content: space-between; max-width: 70%">
    <owlbear_ui.Components.ItemActionComponent></owlbear_ui.Components.ItemActionComponent>
</div>