@page "/item";

<h3>Create a new item</h3>
<div style="display: flex; justify-content: space-between; max-width: 50%">
    <owlbear_ui.Components.NameFormComponent></owlbear_ui.Components.NameFormComponent>
    <owlbear_ui.Components.DescFormComponent></owlbear_ui.Components.DescFormComponent>
    <owlbear_ui.Components.WeightFormComponent Label="Weight" @bind-Value="@number"></owlbear_ui.Components.WeightFormComponent>
</div>

<p>You entered: @number</p>


@code {
    private int number = 0;
}