@page "/weapon";

<h3>Create a new weapon</h3>
<div style="display: flex; justify-content: space-between; max-width: 70%">
    <div class="stack">
        <div class="item">
            <owlbear_ui.Components.NameFormComponent></owlbear_ui.Components.NameFormComponent>
        </div>
        <div class="item">
            <owlbear_ui.Components.DescFormComponent></owlbear_ui.Components.DescFormComponent>
        </div>
    </div>
    <owlbear_ui.Components.WeightFormComponent></owlbear_ui.Components.WeightFormComponent>
    <owlbear_ui.Components.ValueFormComponent></owlbear_ui.Components.ValueFormComponent>
</div>
<div class="buffer"></div>
<div style="display: flex; justify-content: space-between; max-width: 70%">
    <owlbear_ui.Components.ActionNameFormComponent></owlbear_ui.Components.ActionNameFormComponent>
</div>
<div class="buffer"></div>
<div style="display: flex; justify-content: space-between; max-width: 70%">
    <owlbear_ui.Components.DiceRollComponent></owlbear_ui.Components.DiceRollComponent>
    <owlbear_ui.Components.HitBonusComponent></owlbear_ui.Components.HitBonusComponent>
    <owlbear_ui.Components.AttackBonusComponent></owlbear_ui.Components.AttackBonusComponent>
</div>