@page "/magic_item";

<h3>Create a new item</h3>
<div style="display: flex; justify-content: space-between; max-width: 70%">
    <owlbear_ui.Components.NameFormComponent></owlbear_ui.Components.NameFormComponent>
    <owlbear_ui.Components.DescFormComponent></owlbear_ui.Components.DescFormComponent>
    <owlbear_ui.Components.WeightFormComponent></owlbear_ui.Components.WeightFormComponent>
    <owlbear_ui.Components.ValueFormComponent></owlbear_ui.Components.ValueFormComponent>
</div>
<div style="display: flex; justify-content: space-between; max-width: 70%">
   <owlbear_ui.Components.AttuneRequirementComponent></owlbear_ui.Components.AttuneRequirementComponent>
</div>
<div style="display: flex; justify-content: space-between; max-width: 70%">
    <owlbear_ui.Components.ItemActionComponent></owlbear_ui.Components.ItemActionComponent>
</div>