@page "/playercharacter"

<h3>PlayerCharacter</h3>

<owlbear_ui.Components.AbilityScoreComponent name="str" score=@pc.CharAbi.getScore("str")>

</owlbear_ui.Components.AbilityScoreComponent>

@code {
    // basically random for now - just wanna get the layout of everything good
    public static CharacterClass testClass = new CharacterClass("test", 10);
    public PlayerCharacter pc = new PlayerCharacter(testClass, "Saryon");
}

