@page "/playercharacter"

<h3>PlayerCharacter</h3>
<div style="overflow:hidden">
    <owlbear_ui.Components.AbilityScoreDisplay abilityScores=@abi>
    </owlbear_ui.Components.AbilityScoreDisplay>
    <owlbear_ui.Components.HitPointsComponent hitPoints=@hp>
    </owlbear_ui.Components.HitPointsComponent>
</div>

@code {
    // basically random for now - just wanna get the layout of everything good
    public static CharacterClass testClass = new CharacterClass("test", 10);
    public static PlayerCharacter pc = new PlayerCharacter(testClass, "Saryon");
    public static AbilityScores abi = pc.CharAbi;
    public static HitPoints hp = pc.CharHp;
}

